Keywords - pre - defined or pre-reserved words which already have some special meaning or function.

ex - if , else , for , and , while

VARIABLES - It is a name to which we assign some values. They act as a placeholder which holds some data.

RULES FOR WRITING NAME OF THE VARIABLE -
1- Variable name can be alphanumeric - (can be a combination of alphabets and digits)

2- variable name can't start with a digit

3- variable name can't have any special symbol except underscore(_)

4- variable name can start with underscore(_)

5- variable name can't be a keyword

6- variable name can't have blank space in their names

In [1]:
a = 5
print(a);

5

In [3]:
num1 = 35
print(num1);

35

In [4]:
1abc = 67

SyntaxError: invalid decimal literal (3475484359.py, line 1)

In [5]:
first_name = "Jayaseelan"
print(first_name)

Jayaseelan

In [6]:
%num = 99                           # error - invalid syntax
print(%num)

SyntaxError: invalid syntax (887499832.py, line 2)

In [7]:
_ = "hello"
print(_)

hello

In [8]:
if = "python"
print(if)                    # error - because it is a keyword

SyntaxError: invalid syntax (1599648344.py, line 1)

In [9]:
first name = "tuesday"
print(first name)                      # error - because of space!!

SyntaxError: invalid syntax (3025220064.py, line 1)

In [10]:
num1 = 56
num2 = 98
print(num1,num2)

56 98

In [12]:
# HOW TO TAKE USER INPUT IN PYTHON?
# variable name = datatype(input())

name = input("enter your name: ")
print(name)
age = int(input())
print(age)

enter your name:  k

k

 4

4

In [15]:
# create one variable which will take first name as user input
# create another variable which will take second name as user input
# print both the variables in single line

v1 = str(input("enter first name: "))
v2 = input("enter second name: ")
print(v1,v2)

enter first name:  Karan
enter second name:  Swami

Karan Swami

DATA TYPES- it tells us the type of data a variable have

Numeric - int , float , complex

Text - string

Boolean

HOW to check the Data Type ??

type()

1- Numeric Data types - everything related to numbers .

Integer - all the whole numbers - 2,3,4,88,98,-76.-8,-9 -- int

Float - all the decimal numbers - 4.5,4.89,-9.8,-7.6 -- float

Complex - expression - a+bj - 3+4j , 9+1j -- complex

In [16]:
#numeric -

var1 = 9
print(type(var1))
var2 = -89
print(type(var2))

<class 'int'>
<class 'int'>

In [17]:
v1 = 9.87
print(type(v1))

<class 'float'>

In [19]:
v2 = 6 + 9j
print(v2)
print(type(v2))

(6+9j)
<class 'complex'>

2- TEXT DATA TYPES - String - sequence of character which is enclosed in single , double or triple quotes.

In [20]:
n1 = "hello world"
print(type(n1))

<class 'str'>

In [21]:
n2 = 5.67
n3 = "9.99"
n4 = "76"
n5 = "87"
n6 = "ananya"
print(type(n2))
print(type(n3))
print(type(n4))
print(type(n5))
print(type(n6))

<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [22]:
# Indentation - blank space or tab
print("hello")
          print("abc")

IndentationError: unexpected indent (3829252545.py, line 3)

3- BOOLEAN DATA TYPES - It is a Data Type which has 2 values - True or False

In [24]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [25]:
b = False
print(b)
print(type(b))

False
<class 'bool'>

In [28]:
m1 = 78
m2 = 87
c = m1 == m2       # == is used for checking Equality
print(c)
print(type(c))

False
<class 'bool'>