SEQUENTIAL DATA TYPES - when we have elements or values in a sequence, or in an ordered collection of elements .

- list

- tuple

- string

1- LIST - store multiple elements in a single variable

- ordered collection of elements

- lists are mutable - (can change the value of list , add , remove)

- accessed by indexing or slicing

- list can store heterogeneous data - (value of different data type)

- list can store duplicate values

In [1]:
l1 = [10,12,'python',1,2,4,5,'hello',5,2]
print(l1)
print(type(l1))

[10, 12, 'python', 1, 2, 4, 5, 'hello', 5, 2]
<class 'list'>

In [2]:
# access the elements - indexing or slicing
l1 = [10,12,'python',1,2,4,5,'hello',5,2]
print(l1[6])
print(l1[-4])

5
5

In [1]:
l2 = [11,2,3,5,6,7,'hello','banana','python']
# access banana
# access value 6
# access value python

print(l2[-2])
print(l2[4])
print(l2[-1])

banana
6
python

In [2]:
l1 = [10,20,30,40,50,60,70]
print(l1)
print(l1[3])
print(l1[-4])

[10, 20, 30, 40, 50, 60, 70]
40
40

In [4]:
# slicing - accessing more than elements based on their index-
# listname[start index:stop index:step]
# step - gap between numbers
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[2:6])
print(l2[-2:-5:-1])

['python', 88, 10, 67]
['a', 67, 10]

In [1]:
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[-2:4:-1])

['a', 67]

In [2]:
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[-5:-2:-2])

[]

In [3]:
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[-2:-5:-2])

['a', 10]

In [4]:
# fruits = ['apple','banana','cherry','grapes','papaya']
# 1- output for fruits[2]
# 2- output for fruits [-1]
# 3- output for fruits [:3]
# 4 - output for fruits[2:]
# 5- reverse the list

In [5]:
l1=[1,2,3,4,5,6,7,8,9,10]
# print the value of 7 using indexing
# print the  value from 2 to 6 using positive indexing
# print the value of 4 to 8 using negative index

In [6]:
print(l1[6])
print(l1[-4])
print(l1[1:6:1])
print(l1[-7:-2])

7
7
[2, 3, 4, 5, 6]
[4, 5, 6, 7, 8]

In [7]:
v2= ['apple',24,'python',88,10,67,'a','hello']
print(v2[0:6:2])
print(v2[0:4:2])

['apple', 'python', 10]
['apple', 'python']

In [8]:
l1= [10,20,30,40,50,60,70]
print(l1[5:2:-1])              # start index- 5 - value = 60 , # end index - 2- value = 30

[60, 50, 40]

In [9]:
# change the elements of a list -

l1 = ['python',10,20,30,'hello','list',1,2,3]
print(l1)
l1[4] = 'hiiiii'
print(l1)

l1[1:3] = ['ten','twenty']
print(l1)

['python', 10, 20, 30, 'hello', 'list', 1, 2, 3]
['python', 10, 20, 30, 'hiiiii', 'list', 1, 2, 3]
['python', 'ten', 'twenty', 30, 'hiiiii', 'list', 1, 2, 3]

In [10]:
l1 = ['python',10,20,30,'hello','list',1,2,3]
print(l1)
l1[5] = 'abc'
print(l1)

['python', 10, 20, 30, 'hello', 'list', 1, 2, 3]
['python', 10, 20, 30, 'hello', 'abc', 1, 2, 3]

In [11]:
# len() - length of the list/ Total number of elem,ents in the list
len(l1)

9

In [17]:
# How to add an element in the list

# 1. append() - add a single element at the end of the list and adds only single element in the list -- list_name.append(value)

l2 = [1,2,3,4,5,6,7,'a','b','c']
print(l2)
l2.append('d')
print(l2)
l2.append(22)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 22]

In [21]:
# 2. extend() - add more than one element at the end of the list. -- list_name.extend(value)

l2 = [1,2,3,4,5,6,7,'a','b','c']
print(l2)
l2.extend([0,'d','g','akhil','dns','time','maddy',10])
print(l2)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 0, 'd', 'g', 'akhil', 'dns', 'time', 'maddy', 10]

In [24]:
# 3. insert() - adds and element to a specific index or a position in the list -- list_name.insert(position, value)

l2 = [1,2,3,4,5,6,7,'a','b','c']
print(l2)
l2.insert(2,'hiiii')
print(l2)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
[1, 2, 'hiiii', 3, 4, 5, 6, 7, 'a', 'b', 'c']

In [1]:
# HOW TO DELETE AN ELEMENT FROM THE LIST-

# remove() - it will delete the first occurrence of the element from the list

l1 = [10,11,12,10,20,30,40,50]
print(l1)
l1.remove(10)
print(l1)
l1.remove(30)
print(l1)

[10, 11, 12, 10, 20, 30, 40, 50]
[11, 12, 10, 20, 30, 40, 50]
[11, 12, 10, 20, 40, 50]

In [2]:
# pop() - used to delete an element from the list but at the given index

l1 = [10,11,12,10,20,30,40,50]
print(l1)
l1.pop(3)
print(l1)

[10, 11, 12, 10, 20, 30, 40, 50]
[10, 11, 12, 20, 30, 40, 50]

In [3]:
# clear() - it will remove all the element in the list and it will return empty list

l1 = [10,11,12,10,20,30,40,50]
print(l1)
l1.clear()               # empty list - list without any elements
print(l1)

[10, 11, 12, 10, 20, 30, 40, 50]
[]

In [6]:
# index() - return the index of first occurrence of an element

l1 = [25,37,10,11,12,10,20,30,40,50]
print(l1)
print(l1.index(30))
print(l1.index(10))
print(l1.index(90))      #result in an error because the value 90 is not present in the list

[25, 37, 10, 11, 12, 10, 20, 30, 40, 50]
7
2

ValueError: 90 is not in list

In [13]:
# if we want the index of the second occurance of an element
l1 = [25,37,10,11,12,10,20,30,40,50]

f1 = l1.index(10)
print(f1)

f2 = l1.index(10, f1+1)     #  Second Occurance of the element 10 in the list
print(f2)

2
5

In [14]:
# create a list with 2 elements and then extend 4 elements and print the list

list_ques = [10, 20]
list_ques.extend([30,40,50,60])
print(list_ques)

# insert one element at the position 3 and print the list again

list_ques.insert(3,80)
print(list_ques)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 80, 40, 50, 60]

2. TUPLE - stores multiple elements in a single element
   - ordered collection of elements
   - immutable (cannot chnage the values or it's undeditable)
   - can store duplicate values
   - can store values of different data types

In [18]:
t1 = (1,2,3,4,5,6,'a','b')
print(t1)
print(type(t1))

print(t1[-2])

(1, 2, 3, 4, 5, 6, 'a', 'b')
<class 'tuple'>
a

In [19]:
t1 = (1,2,3,4,5,6,'a','b')
# print value 2
# print value 6
print(t1[1])
print(t1[-3])

2
6

In [20]:
# index() - return the index of first occurrence of elements
t1 = (1,2,3,4,5,6,'a','b')
print(t1.index('b'))

7

In [21]:
# count() - return the number of times a value is occurring
t1 = (1,2,3,4,5,6,'a','b')
print(t1.count(1))

1

In [24]:
t2 = (1,2,3,4,5,1,2,3,1,1,1,1)
print(t2.count(1))
print(t2.count(5))

6
1

In [28]:
t1 = (1,2,3,4,5,6,'a','b')
# t1[2] = 'abc'              # error because tuples are immutable

# to do so you can typecast it into list

l1 = list(t1)
print(l1)
print(type(l1))

l1[2] = 'abc'
print(l1)

t1 = tuple(l1)
print(t1)
print(type(t1))

[1, 2, 3, 4, 5, 6, 'a', 'b']
<class 'list'>
[1, 2, 'abc', 4, 5, 6, 'a', 'b']
(1, 2, 'abc', 4, 5, 6, 'a', 'b')
<class 'tuple'>

3. STRING - It is sequence of character which is enclosed in single or double quotes
   - strings are immutable

In [29]:
s1 = 'shyam'
print(type(s1))

<class 'str'>

In [30]:
# access element of string -
s1 = "syam"
print(s1[2])

a

In [31]:
# functions
# lower() - used to convert string into lower case
# upper() - used to convert string into upper case
# capitalize() - used to convert first letter - capital

s1 = "HELLO"
print(s1.lower())
s2 = "python"
print(s2.upper())
print(s2.capitalize())

hello
PYTHON
Python

In [32]:
# length of the string - len()
print(len(s2))

6

In [34]:
# strip() - remove the spaces from the string from both the ends - start and end

s3 = "    hello python    "
print(s3)
print(s3.strip())

# lstrip() - removes the space from left side
# rstrip() - removes the space from right side

    hello python
hello python

In [36]:
# concatenation - joining or combining of two strings

s1 = 'hello'
s2 = 'world'
print(s1 + " " + s2)

hello world

In [40]:
# repetition - string * n(any number) - it will repeat the string n times

s1 = 'hi '
print(s1*2)
print(s1*5)

hi hi
hi hi hi hi hi

In [1]:
# reverse the string using slicing -
s1 = 'harsh'
print(s1)
print(s1[::-1])
s2 = 'python'
print(s2[::-1])

harsh
hsrah
nohtyp

In [2]:
# create a tuple with 5 elements and print the element which is at 3 position
# create two strings and concatenate them
# create a string and apply repetition 4 times
# take on string as user input and reverse the string

In [3]:
t1 = (1,2,3,4,5,6)
print(t1[3])
s1 = "hello "
s2 = "hii"
print(s1+" "+s2)
print(s1*4)
a = input()
print(a[::-1])

4
hello  hii
hello hello hello hello

 4

4