NON - SEQUENTIAL DATATYPE - elements are not stored in the sequence or elements are not arranged in a ordered way.

  - set

  - dictionary

1- Set - unordered collection of distinct(unique) elements

  - it stores unique value - (no duplicate element is allowed)

  - mutable (add or remove the elememt , we can't change the elements of set)

  - {}

In [1]:
s1 = {1,2,3,4,5,6}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [2]:
s1 = {'a','b','c','a','b','c'}
print(s1)

{'a', 'c', 'b'}

In [3]:
s2 = {12,3,4,11,23,3}
print(s2)

{3, 4, 23, 11, 12}

In [4]:
# add() - adds a single element in a set
s1 = {'a','b','c','a','b','c'}
print(s1)
s1.add('e')
print(s1)

{'a', 'c', 'b'}
{'a', 'c', 'b', 'e'}

In [5]:
# create a set and use add function to add an element in the set also check the data type of the set you created

In [6]:
s1 = {1,2,4,5,6}
s1.add(10)
print(s1)
print(type(s1))

{1, 2, 4, 5, 6, 10}
<class 'set'>

In [7]:
# update() - used to add multiple values in a set
# s1.update([values])

s1 = {1,2,4,5,6}
print(s1)
s1.update([11,20,30])
print(s1)

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6, 20, 11, 30}

In [8]:
s2 = {14,2,4}
s2.update([1,4,5,6])
print(s2)

{1, 2, 4, 5, 6, 14}

In [9]:
# remove() - it will remove the element , if element not found it will return error
# s1.remove(value)
s1 = {1,2,4,5,6}
print(s1)
s1.remove(4)
print(s1)

{1, 2, 4, 5, 6}
{1, 2, 5, 6}

In [10]:
s1.remove(10)
print(s1)                      # not present in my set

KeyError: 10

In [11]:
# discard() - remove an element , no error if element is not found

s1 = {1,2,4,5,6}
print(s1)
s1.discard(5)
print(s1)
s1.discard(23)
print(s1)
s1.remove(23)
print(s1)                  # error

{1, 2, 4, 5, 6}
{1, 2, 4, 6}
{1, 2, 4, 6}

KeyError: 23

In [12]:
# pop() - remove a random element from the set

s1 = {1,2,4,5,6}
print(s1)
s1.pop()
print(s1)

{1, 2, 4, 5, 6}
{2, 4, 5, 6}

In [13]:
# clear()- remove all the values from the set
s1 = {1,2,4,5,6}
s1.clear()
print(s1)

set()

In [14]:
# add elements in a set and remove duplicates.
# create one set and add 5 elements using set function then remove the element of your choice
# clear all elements from the set and print empty set
# s1= {1,True,False,0}
# print(s1)   --- output??

In [15]:
s1={1,2,5,3,4,5,6,2,1,2}
print(s1)
s2={1,2}
s2.update([3,4,5,6,7])
print(s2)
s2.remove(5)
print(s2)
s2.clear()
print(s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}
set()

In [16]:
s1={1,True,False,0}
print(s1)
s2 = {0,True , False,1}
print(s2)

{False, 1}
{0, True}

In [18]:
# SET OPERATIONS -
# 1 - UNION  - return the unique elements from both the sets
# 2- INTERSECTION - common elements between 2 sets
# 3- Differnce - s1.difference(s2)-- only s1 elements not in s2
# s2.difference(s1)-- only s2 elementgs not in s1

s1= {1,2,3,4}
s2 = {5,6,2,3}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6}
{2, 3}
{1, 4}
{5, 6}

DICTIONARY - it is a collection of key value pair

  - d1 = { 1 : 'python' , 2 : 34 , 'a': 'hello'}

  - each key is unique

  - keys are immuatble

  - values can be of any data type

  - value are mutable

In [19]:
d1 = {'name':'anas', 'age':22 , 'gender':'m'}
print(d1)
print(type(d1))

{'name': 'anas', 'age': 22, 'gender': 'm'}
<class 'dict'>

In [29]:
d1 = {'name':['mohan','sahil','abc'],'age':21}
print(d1)

{'name': ['mohan', 'sahil', 'abc'], 'age': 21}

In [20]:
# access any value
print(d1['age'])

22

In [1]:
# create a dictionary with 4 values and check and print the data type
# take two sets and perform set operations
# 1- union
# 2- s1.difference(s2)

# create a set then add 3 values using update function
# create a dictionary and access all the values of dictionary one by one

In [3]:
d2 = {1: 'apple', 'a':43, 'name':'Karan'}
print(d2)
print(type(d2))

{1: 'apple', 'a': 43, 'name': 'Karan'}
<class 'dict'>

In [5]:
# access any value from dictionary

d2 = {1: 'apple', 'a':43, 'name':'Karan'}
print(d2['name'])

Karan

In [7]:
# change the value

d2 = {1: 'apple', 'a':43, 'name':'Karan'}
d2['name'] = 'Khushi'
print(d2)

{1: 'apple', 'a': 43, 'name': 'Khushi'}

In [10]:
# create a dictionary student and change the value for 2 data

student = {'name': 'Karan', 'gender':'Male', 'Marks': 99, 'class':'python'}
print(student)
student['Marks'] = 100
student['class'] = 'SQL'
print(student)

{'name': 'Karan', 'gender': 'Male', 'Marks': 99, 'class': 'python'}
{'name': 'Karan', 'gender': 'Male', 'Marks': 100, 'class': 'SQL'}

In [23]:
# keys() - returns all the keys from dictionary
# values() - returns all the values from the dictionary
# items() - returns both keys and values

students = {'name': 'Karan', 'gender':'Male', 'Marks': 99, 'class':'python'}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values(['abc', 21])
dict_items([('name', 'abc'), ('age', 21)])

In [24]:
l1 = list(students.keys())
print(l1)

['name', 'gender', 'Marks', 'class']

In [16]:
# to get the value of dictionary-
# get() - access the values
# d1.get(key)
student = {'name':'abc','age':21 ,'marks':78}
print(student.get('marks'))

78

In [18]:
# add multiple values in a dictionary-
# update() - multiple values or merge dictionaries

student = {'name':'abc','age':21 ,'marks':78}
print(student)
student.update({1:'hello','id':101,'abc':'python world'})
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
{'name': 'abc', 'age': 21, 'marks': 78, 1: 'hello', 'id': 101, 'abc': 'python world'}

In [20]:
# DELETE ANY VALUE FROM DICTIONARY???
# pop() - remove the value
# d1.pop('key name')

student = {'name':'abc','age':21 ,'marks':78}
print(student)
student.pop('age')
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
{'name': 'abc', 'marks': 78}

In [25]:
# popitem() - will remove the last inserted pair

student = {'name':'abc','age':21 ,'marks':78}
print(student)
print(student.popitem())
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
('marks', 78)
{'name': 'abc', 'age': 21}

In [26]:
# clear() - remove all the data from dictionary and it will return empty dict
student = {'name':'abc','age':21 ,'marks':78}
print(student)
student.clear()
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
{}

In [30]:
# 1- create a dictionary with name , age , city
#  2- update your city to "Bangalore"
# 3- print all the  - (a) - keys , (b) - values
# 4- delete age from dictionary
# 5- add 2 new values in the dictionary and print it
# 6- remove the last value from the dict and print new dict

In [31]:
d1 = {'name':'abc','age':20 , 'city':'mumbai'}
d1['city']='bangalore'
print(d1)
print(d1.keys())
print(d1.values())
print(d1.pop('age'))
print(d1)
d1.update({1:101,2:'hiiiii'})
print(d1)
d1.popitem()
print(d1)

{'name': 'abc', 'age': 20, 'city': 'bangalore'}
dict_keys(['name', 'age', 'city'])
dict_values(['abc', 20, 'bangalore'])
20
{'name': 'abc', 'city': 'bangalore'}
{'name': 'abc', 'city': 'bangalore', 1: 101, 2: 'hiiiii'}
{'name': 'abc', 'city': 'bangalore', 1: 101}

In [32]:
# can i give list and tuple to values???
d1 = {'name':['sahil','anurag','mohan','roshan'],'age':21,'gender':'m'}
print(d1)

{'name': ['sahil', 'anurag', 'mohan', 'roshan'], 'age': 21, 'gender': 'm'}

In [33]:
# access??
print(d1['name'])

['sahil', 'anurag', 'mohan', 'roshan']

In [37]:
print(d1['name'][2])

mohan

In [35]:
# create a dict with name , age , city - age and city are having 3 values stored as tuple
# access 2 value from age and 1 value from city

In [39]:
student = {
    "name": "karan",
    "age": (18, 19, 20),
    "city": ("Pune", "Mumbai", "Bangalore")
}
# 2. Access 2 values from age
age1 = student["age"][0]
age2 = student["age"][1]
# 3. Access 1 value from city
city1 = student["city"][2]
# 4. Print accessed values
print("First age:", age1)
print("Second age:", age2)
print("Third city:", city1)

First age: 18
Second age: 19
Third city: Bangalore