In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("housing (1).csv")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

1. Find the average sale price of houses with exactly 3 bedrooms.

In [6]:
avg_price = df[df['bedrooms'] == 3]['price'].mean()
avg_price

np.float64(466232.07949918567)

2. What is the median year built of houses with a waterfront view?

In [8]:
median_year = df[df['waterfront'] == 1]['yr_built'].median()
median_year

1960.0

3. Find the maximum living space (sqft_living) among houses built after the year 2000.

In [9]:
max_living = df[df['yr_built'] > 2000]['sqft_living'].max()
max_living

9890

4. Count how many houses have more than 2 floors and condition rating ≥ 4.

In [10]:
ch = df[(df['floors'] > 2) & (df['condition'] >= 4)].shape[0]
ch

76

5. Calculate the average number of bathrooms for houses priced above $1,000,000.

In [11]:
avg_bathrooms = df[df['price'] > 1000000]['bathrooms'].mean()
avg_bathrooms

np.float64(3.166211604095563)

6. Find the most common grade assigned to houses.

In [12]:
most_common_grade = df['grade'].mode()[0]
most_common_grade

np.int64(7)

7. Find the average lot size (sqft_lot) of houses located in zipcode 98178.

In [13]:
avg_lot_size = df[df['zipcode'] == 98178]['sqft_lot'].mean()
avg_lot_size

np.float64(8309.12213740458)

8. What is the highest sale price among houses that were renovated (yr_renovated > 0)?

In [14]:
highest_price_renovated = df[df['yr_renovated'] > 0]['price'].max()
highest_price_renovated

7700000

9. How many houses have a basement (sqft_basement > 0) and more than 3 bedrooms?

In [15]:
ab = df[(df['sqft_basement'] > 0) & (df['bedrooms'] > 3)].shape[0]
ab

4081

10. Find the median living space (sqft_living) of houses with condition = 5.

In [19]:
filtered_df = df[df['condition'] == 5]['sqft_living'].median()
filtered_df

1880.0

11. Which year has the highest number of houses built?

In [23]:
most_common_year = df['yr_built'].mode()[0]
count = df['yr_built'].value_counts().max()
print(most_common_year)
print(count)

2014
559

12. Compare the average price of houses with waterfront view vs without waterfront view.

In [32]:
average_prices = df.groupby('waterfront')['price'].mean()

avg_price_no_waterfront = average_prices.loc[0]
avg_price_with_waterfront = average_prices.loc[1]

price_difference = avg_price_with_waterfront - avg_price_no_waterfront

price_difference

np.float64(1130312.4245864972)

13. Find the maximum lot size (sqft_lot) of houses with 2 or fewer bedrooms.

In [34]:
fil_df = df[df['bedrooms'] <= 2]['sqft_lot'].max()
fil_df

1164794

14.  identify the zipcode with the highest average price.

In [35]:
average_prices_by_zipcode = df.groupby('zipcode')['price'].mean()

zipcode = average_prices_by_zipcode.idxmax()
highest = average_prices_by_zipcode.max()

print(zipcode)
print(highest)

98039
2160606.6