In [1]:
import pandas as pd

### Series

In [2]:
# Use list/yuple to create a series
# 1D data structure
# It can't handle mixed data types
# Series(Values, index, dtype)

In [3]:
sr1 = pd.Series([10,20,30,40,50])
sr1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
type(sr1) #will return data structure of the word sr1 (list/tuple/int/array...)

pandas.core.series.Series

In [6]:
# Numbers : int/float ; strings: object

In [16]:
sr1[3]

np.int64(40)

In [18]:
sr2 = pd.Series([10,20,30,40,50], index = ['a','b','c','d','e'], dtype = float)
sr2

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
dtype: float64

In [19]:
sr2['c']

np.float64(30.0)

In [20]:
sr2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [21]:
sr2.values

array([10., 20., 30., 40., 50.])

In [22]:
sr2.dtype

dtype('float64')

### DataFrame

In [24]:
# 2D Data Structure
# An easy way to create data frame is to combine multiple columns
# Each element of data can be list/tuple/1D Array/Series

In [26]:
dict1 = {
    'col1': [10,20,30],
    'col2': pd.Series(['a','b','c'])
}
df1 = pd.DataFrame(dict1)
df1

   col1 col2
0    10    a
1    20    b
2    30    c

In [29]:
output = df1.dtypes # It returns data types of each column
output

col1     int64
col2    object
dtype: object

In [30]:
type(output)

pandas.core.series.Series

In [31]:
output.index

Index(['col1', 'col2'], dtype='object')

In [32]:
output.values

array([dtype('int64'), dtype('O')], dtype=object)

In [34]:
list1 = [10,'a']
list2 = [20,'b']

In [35]:
import numpy as np
ar1 = np.array([list1, list2])
ar1

array([['10', 'a'],
       ['20', 'b']], dtype='<U21')

In [36]:
pd.DataFrame(ar1)

    0  1
0  10  a
1  20  b

In [41]:
df2 = pd.DataFrame([list1,list2], columns = ['col1','col2'], index = ['a','b'])
df2

   col1 col2
a    10    a
b    20    b

In [42]:
df2.dtypes

col1     int64
col2    object
dtype: object